// Typography
body {
  font-family: 'Quicksand', sans-serif;
}

h1,h2 {
  font-family: 'Londrina Shadow', cursive;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

a:hover {
  text-decoration: none;
}

// Block size
html, body {
  height: 100%;
}

.content {
  height: 100%;
}

// side-content and main-content
.content__side {
  height: 100%;
  padding-top: 300px;
  padding-right: 50px;
}

.content__main__navbar {
  height: 50px;
}

.content__main__contents {
  padding: 0 30px;
}

// Color
.green {
  background-color: $green;
}

.green-text {
  color: $green;
}

.gray {
  background-color: $gray;
}

