// Typography
body {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 50px;
  font-family: 'Londrina Shadow', cursive;
}

a:hover {
  text-decoration: none;
}

// Block size
html, body {
  height: 100%;
}

.content {
  height: 100%;
}

// side-content and main-content
.content__side {
  height: 100%;
  padding-top: 300px;
  padding-right: 50px;
}

.main-content {
  height: 100%;
}

// Color
.green {
  background-color: $green;
}

