= image_tag "rails_imagine.png", alt: "users.name", class: "user_image"
%h2 I'm a Biginer of Ruby on Rails!
%p Imagine what you could build if you learned Ruby on Rails…
Learning to build a modern web application is daunting. Ruby on Rails makes it much easier and more fun. It includes everything you need to build fantastic applications, and you can learn it with the support of the large, friendly community.
