- @posts.each do |post|
  .post.container-fluid.mt-3
    = link_to post_path(post) do
      %h2.title.text-dark= post.title
      %p.body.text-secondary= truncate(post.body, length: 100)
      %p.date.text-black.mt-2.text-secondary= time_ago_in_words(post.created_at)
    %hr
